h1{
    text-align: center;
    color: yellow;
    font-size: x-large;
}

body{
    background-color: red;
}

.Main{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: yellow;
    font-size: large;
    img{
        width: 150px;
        border: 2px solid;
        border-radius: 15px;
    }
}

p{
    text-align: right;
}